
#empPage {
    background-color: rgb(255, 244, 206);
    text-align: center;
    padding: 10px;
    margin: 30px;
}

#supPage {
    background-color: rgb(255, 244, 206);
    text-align: center;
    padding: 10px;
    margin: 30px;
}